<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildscheme</key>
	<string>release</string>
	<key>client_id</key>
	<string></string>
	<key>client_secret</key>
	<string></string>
	<key>authorization_endpoint</key>
	<string></string>
	<key>token_endpoint</key>
	<string></string>
	<key>registration_endpoint</key>
	<string></string>
	<key>calback_url</key>
	<string></string>
</dict>
</plist>
