<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildscheme</key>
	<string>debug</string>
    <key>client_id</key>
    <string>d6d473265c940e355b3dd497eb1bd95d34cb3175</string>
    <key>client_secret</key>
    <string>c7a0c6cdef364ec94e94f2bce0756f9561b6b574</string>
    <key>authorization_endpoint</key>
    <string>https://qiita.com/api/v2/oauth/authorize</string>
    <key>token_endpoint</key>
    <string>https://qiita.com/api/v2/access_tokens</string>
    <key>registration_endpoint</key>
    <string>https://qiita.com/api/v2/oauth/authorize</string>
    <key>calback_url</key>
    <string></string>
</dict>
</plist>
